$fonts: "Poppins", Helvetica, sans-serif;
$primary-color: #C8DFEC;
$spacing: 2rem;
$dark-grey: #a9b1b3;
$card-color: #FCC286;
$fontsTime: "Times New Roman", Times, serif;
$fontsArial: Arial, Helvetica, sans-serif;
